<% for (var i = 0; i < posts.length; i++)  {%>
<div class="panel panel-info post-wrap">
  <div class="panel-heading">
    <%= posts[i].title %>
    <span class="time"><%= posts[i].time.minute %></span>
    </div>
  <p class="panel-body"><%= posts[i].post.substr(0, 300) + "..." %></p>

  <div class="panel-footer text-right">
    <%= posts[i].name %>
    <div class="tags">
      <% for (var j = 0; j < posts[i].tags.length; j++) { %>
        <span><%= posts[i].tags[j] %></span>
      <%} %>
    </div>
  </div>
 </div>
<% } %> 